<!DOCTYPE html>
<html>
<head>
	<title>maintenance page</title>
</head>

<body>
	<h1>  We 'll right back soon </h1>
		<p>Site is in maintenance mood.The side is currently being updated </p>
</body>
</html>